<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bitrise AppStore WatchKit App (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Bitrise AppStore WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Bitrise AppStore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>616117DE1D58951B0037FD17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>616117F71D58951B0037FD17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>616118021D58951B0037FD17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6161180B1D58951B0037FD17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
